.clip-path {
  margin: auto;
  height: 150px;
  width: 250px;
}

.parallelogram {
  background: blue;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.border {
  background: transparent;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  border: dashed 5px gold; /* attempt to add a border */
}

.parallelogram-container {
  position: relative;
}

.parallelogram-container .parallelogram {
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  background: rgb(208, 166, 23);
}

.small-parallelogram {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(1% 1%, 74% 1%, 99% 99%, 26% 99%);
}

.parallelogram-2 {
  clip-path: polygon(0% 1%, 75% 1%, 100% 100%, 25% 100%);
  background: repeating-linear-gradient(rgb(208, 166, 23) 0px, rgb(208, 166, 23) 8px, white 8px, white 16px);
  z-index: 1;
}

.parallelogram-vertical-borders {
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='rgb(208, 166, 23)' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.small-parallelogram-2 {
  position: absolute;
  background: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(0.3% 1%, 74.5% 1%, 99.5% 99%, 25.2% 99%);
  z-index: 3;
}
